<ion-header [translucent]="true">
  <ion-toolbar style="--background: #84e9bd; --color: #000000; font-weight: bold;">
    <ion-title>
      Exploraê
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #121212;">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: #84e9bd; --color: #000000; font-weight: bold;">
      <ion-title size="large">Exploraê</ion-title>
    </ion-toolbar>
  </ion-header>

  <body>
    <div style="padding: 20px;">
      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
     
      <ion-button href="/tab4" expand="block"  style="margin-top: 20px;">
        Entrar
      </ion-button>

      <ion-button  href="/tabs/tab2" expand="block" style="margin-top: 20px;">
        Criar uma conta
      </ion-button>
    </div>

   
  </body>

 
</ion-content>
