<ion-header>
  <ion-toolbar style="--background: #84E9BD;">
    <ion-title><strong>Exploraê</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Div ocupando o topo abaixo da toolbar e contendo os botões -->
  <div class="top-section">

    <!-- Grid com os botões -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="custom-button">Hotéis</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="custom-button">O que fazer</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="custom-button">Restaurantes</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="custom-button">Fóruns</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
